# Dependencies
node_modules/

# Build outputs
dist/
build/
*.tsbuildinfo

# Storybook
storybook-static/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Env
.env
.env.local
.env.*.local

# Test
coverage/
.nyc_output/

# Misc
*.jar
*.class
*.pyc
*.py[cod]
*.war
*.app
*.exe
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
TEST*.xml
